
<p>Length: @Model.Getbrand()</p>
<p>Height: @Model.GetHeight()</p>
<p>Weight: @Model.GetWeight()</p>
<p>Width: @Model.GetWidth()</p>
<p>Your Volume: @Model.GetVolume()</p>
<p>Shipping Cost: $@Model.GetCost()</p>
